openapi: 3.0.3
info:
  title: Pathology and Laboratory Medicine Reporting - FHIR API
  description: Clinical Data Pathology API
  version: 0.1.1
  contact:
    name: API Support
servers:
  - url: http://localhost:5001
    description: Local development server
components:
  securitySchemes:
    app-level3:
      $ref: https://proxygen.ptl.api.platform.nhs.uk/components/securitySchemes/app-level3
paths:
  /:
    post:
      security:
      - app-level3: []
      summary: Get hello world message
      description: Returns a simple hello world message
      operationId: postHelloWorld
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
                  description: The payload to be processed
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    description: Status code of the interaction
                  body:
                    type: string
                    description: The output of the interaction
                  errorMessage:
                    type: string
                    description: Any error messages relating to errors encountered with the interaction
                  errorType:
                    type: string
                    description: The type of error encountered during the interaction, if an error has occurred
                  requestId:
                    type: string
                    format: uuid
                    description: The unique request ID for the interaction
                  stacktrace:
                    type: array
                    items:
                      type: string
                    description: The stack trace of the error, if an error has occurred
    get:
      security:
      - app-level3: []
      summary: Get hello world message
      description: Returns a simple hello world message
      operationId: postHelloWorld
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
                  description: The payload to be processed
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    description: Status code of the interaction
                  body:
                    type: string
                    description: The output of the interaction
                  errorMessage:
                    type: string
                    description: Any error messages relating to errors encountered with the interaction
                  errorType:
                    type: string
                    description: The type of error encountered during the interaction, if an error has occurred
                  requestId:
                    type: string
                    format: uuid
                    description: The unique request ID for the interaction
                  stacktrace:
                    type: array
                    items:
                      type: string
                    description: The stack trace of the error, if an error has occurred

        '404':
          description: Route not found
          content:
            text/html:
              schema:
                type: string
    put:
      security:
      - app-level3: []
      summary: Get hello world message
      description: Returns a simple hello world message
      operationId: postHelloWorld
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
                  description: The payload to be processed
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    description: Status code of the interaction
                  body:
                    type: string
                    description: The output of the interaction
                  errorMessage:
                    type: string
                    description: Any error messages relating to errors encountered with the interaction
                  errorType:
                    type: string
                    description: The type of error encountered during the interaction, if an error has occurred
                  requestId:
                    type: string
                    format: uuid
                    description: The unique request ID for the interaction
                  stacktrace:
                    type: array
                    items:
                      type: string
                    description: The stack trace of the error, if an error has occurred

        '404':
          description: Route not found
          content:
            text/html:
              schema:
                type: string
    patch:
      security:
      - app-level3: []
      summary: Get hello world message
      description: Returns a simple hello world message
      operationId: postHelloWorld
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
                  description: The payload to be processed
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    description: Status code of the interaction
                  body:
                    type: string
                    description: The output of the interaction
                  errorMessage:
                    type: string
                    description: Any error messages relating to errors encountered with the interaction
                  errorType:
                    type: string
                    description: The type of error encountered during the interaction, if an error has occurred
                  requestId:
                    type: string
                    format: uuid
                    description: The unique request ID for the interaction
                  stacktrace:
                    type: array
                    items:
                      type: string
                    description: The stack trace of the error, if an error has occurred

        '404':
          description: Route not found
          content:
            text/html:
              schema:
                type: string
    delete:
      security:
      - app-level3: []
      summary: Get hello world message
      description: Returns a simple hello world message
      operationId: postHelloWorld
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
                  description: The payload to be processed
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    description: Status code of the interaction
                  body:
                    type: string
                    description: The output of the interaction
                  errorMessage:
                    type: string
                    description: Any error messages relating to errors encountered with the interaction
                  errorType:
                    type: string
                    description: The type of error encountered during the interaction, if an error has occurred
                  requestId:
                    type: string
                    format: uuid
                    description: The unique request ID for the interaction
                  stacktrace:
                    type: array
                    items:
                      type: string
                    description: The stack trace of the error, if an error has occurred
    trace:
      security:
      - app-level3: []
      summary: Get hello world message
      description: Returns a simple hello world message
      operationId: postHelloWorld
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
                  description: The payload to be processed
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    description: Status code of the interaction
                  body:
                    type: string
                    description: The output of the interaction
                  errorMessage:
                    type: string
                    description: Any error messages relating to errors encountered with the interaction
                  errorType:
                    type: string
                    description: The type of error encountered during the interaction, if an error has occurred
                  requestId:
                    type: string
                    format: uuid
                    description: The unique request ID for the interaction
                  stacktrace:
                    type: array
                    items:
                      type: string
                    description: The stack trace of the error, if an error has occurred

x-nhsd-apim:
  monitoring: false
  access:
  - title: Application Restricted
    grants:
      app-level3: []
  target:
    type: external
    healthcheck: /_status
    url: https://%url-section%.endpoints.pathology-laboratory-reporting.national.nhs.uk
    security:
      type: mtls
      secret: %mtls_secret_name%
