openapi: 3.0.3
info:
  title: pathology API
  description: Clinical Data pathology API
  version: 0.1.0
  contact:
    name: API Support
servers:
  - url: http://localhost:5001
    description: Local development server
paths:
  /2015-03-31/functions/function/invocations:
    post:
      summary: Get hello world message
      description: Returns a simple hello world message
      operationId: postHelloWorld
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
                  description: The payload to be processed
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    description: Status code of the interaction
                  body:
                    type: string
                    description: The output of the interaction
                  errorMessage:
                    type: string
                    description: Any error messages relating to errors encountered with the interaction
                  errorType:
                    type: string
                    description: The type of error encountered during the interaction, if an error has occurred
                  requestId:
                    type: string
                    format: uuid
                    description: The unique request ID for the interaction
                  stacktrace:
                    type: array
                    items:
                      type: string
                    description: The stack trace of the error, if an error has occurred
    get:
      summary: Get hello world message
      description: Returns a simple hello world message
      operationId: postHelloWorld
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
                  description: The payload to be processed
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    description: Status code of the interaction
                  body:
                    type: string
                    description: The output of the interaction
                  errorMessage:
                    type: string
                    description: Any error messages relating to errors encountered with the interaction
                  errorType:
                    type: string
                    description: The type of error encountered during the interaction, if an error has occurred
                  requestId:
                    type: string
                    format: uuid
                    description: The unique request ID for the interaction
                  stacktrace:
                    type: array
                    items:
                      type: string
                    description: The stack trace of the error, if an error has occurred

        '404':
          description: Route not found
          content:
            text/html:
              schema:
                type: string
    put:
      summary: Get hello world message
      description: Returns a simple hello world message
      operationId: postHelloWorld
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
                  description: The payload to be processed
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    description: Status code of the interaction
                  body:
                    type: string
                    description: The output of the interaction
                  errorMessage:
                    type: string
                    description: Any error messages relating to errors encountered with the interaction
                  errorType:
                    type: string
                    description: The type of error encountered during the interaction, if an error has occurred
                  requestId:
                    type: string
                    format: uuid
                    description: The unique request ID for the interaction
                  stacktrace:
                    type: array
                    items:
                      type: string
                    description: The stack trace of the error, if an error has occurred

        '404':
          description: Route not found
          content:
            text/html:
              schema:
                type: string
    patch:
      summary: Get hello world message
      description: Returns a simple hello world message
      operationId: postHelloWorld
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
                  description: The payload to be processed
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    description: Status code of the interaction
                  body:
                    type: string
                    description: The output of the interaction
                  errorMessage:
                    type: string
                    description: Any error messages relating to errors encountered with the interaction
                  errorType:
                    type: string
                    description: The type of error encountered during the interaction, if an error has occurred
                  requestId:
                    type: string
                    format: uuid
                    description: The unique request ID for the interaction
                  stacktrace:
                    type: array
                    items:
                      type: string
                    description: The stack trace of the error, if an error has occurred

        '404':
          description: Route not found
          content:
            text/html:
              schema:
                type: string
    delete:
      summary: Get hello world message
      description: Returns a simple hello world message
      operationId: postHelloWorld
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
                  description: The payload to be processed
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    description: Status code of the interaction
                  body:
                    type: string
                    description: The output of the interaction
                  errorMessage:
                    type: string
                    description: Any error messages relating to errors encountered with the interaction
                  errorType:
                    type: string
                    description: The type of error encountered during the interaction, if an error has occurred
                  requestId:
                    type: string
                    format: uuid
                    description: The unique request ID for the interaction
                  stacktrace:
                    type: array
                    items:
                      type: string
                    description: The stack trace of the error, if an error has occurred
    trace:
      summary: Get hello world message
      description: Returns a simple hello world message
      operationId: postHelloWorld
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
                  description: The payload to be processed
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: object
                properties:
                  status_code:
                    type: integer
                    description: Status code of the interaction
                  body:
                    type: string
                    description: The output of the interaction
                  errorMessage:
                    type: string
                    description: Any error messages relating to errors encountered with the interaction
                  errorType:
                    type: string
                    description: The type of error encountered during the interaction, if an error has occurred
                  requestId:
                    type: string
                    format: uuid
                    description: The unique request ID for the interaction
                  stacktrace:
                    type: array
                    items:
                      type: string
                    description: The stack trace of the error, if an error has occurred
